#main-container {
  font-family: sans-serif;
  height: calc(100% - 16px);
  padding: 8px;
  max-width: 1080px;
  margin: auto;
}

#main-container h1 {
  font-size: 20px;
}

#main-grid {
  height: 100%;
  display: grid;
  grid-template-rows: [form] auto [results] 1fr;
  gap: 16px;
}

#main-form {
  grid-row: form;
}

#results {
  grid-row: results;
  border-top: 1px solid;
}

#results > table {
  border-collapse: collapse;
}

#results > table th,
#results > table td {
  border: 1px solid;
  padding: 4px 8px;
  text-align: left;
}

.form-area {
  display: grid;
  grid-template-columns: [label] auto [input] auto 1fr;
  gap: 8px;
}

.form-area > label {
  grid-column: label;
  align-self: start;
}

.form-area > input {
  grid-column: input;
  align-self: start;
}

.form-area > hr {
  grid-column: 1 / 4;
  width: 100%;
  border: 0;
  border-top: 1px solid;
}

.form-area > h1 {
  grid-column: 1 / 4;
  margin: 0;
  margin-bottom: 8px;
}
