.four-column {
  grid-column: 1 / 4;
  display: grid;
  grid-template-columns: [one] 1fr [two] 1fr [three] 1fr [four] 1fr;
  gap: 8px;
}

.four-column > .column-one {
  grid-column: one;
}

.four-column > .column-two {
  grid-column: two;
}

.four-column > .column-three {
  grid-column: three;
}

.four-column > .column-four {
  grid-column: four;
}

#quadraxial-visualization {
  position: relative;
}

#quadraxial-visualization .sample {
  position: absolute;
  width: 96px;
}
